Html,body {
  text-align: Center;
  font-family: Lobster, Helvetica, sans-serif;
}
#btn1,#btn2 {
  font-family: Lobster, Helvetica, sans-serif;
  Font-size: 3vw;
}
/*#btn1,#btn2:hover {
    max-width: 22vw;
    max-height: 22vw;
    opacity: 1;
    transition: all 500ms;
*/
#RPS{
  Font-size: 2vw;
  Margin: 2vw;
}
uC {
   text-align: Center;
}
#game {
  Font-size: 3vw;
}

#js{
  Font-size: 2vw;
  font-family: Lobster, Helvetica, sans-serif;
}